.footer-wrapper {
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid rgba(192, 184, 184, 0.2);
}

.footer-message {
  display: flex;
  padding: 20px;
  font-family: "Formula1", sans-serif;
  color: white;
}

.footer-socials {
  display: flex;
  padding: 20px;
  text-decoration: none;
}

.footer-socials a{
  color: white;
  text-decoration: none;
}